{% extends "base.html" %}

{% block title %}Home - Synergy Group{% endblock %}

{% block content %}
<div class="column">
    <div class="content">
        <h1>Welcome to Synergy Group</h1>
        <p>As a leading shipmanager, the Synergy Group provides end-to-end maritime solutions with precisely and expertly tailored services, where great technical expertise and a diverse product portfolio create optimal efficiency, productivity and customer experience.</p>
    </div>
</div>
{% endblock %}
