{% extends "base.html" %}

{% block title %}Thank You - Synergy Group{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="column">
                <div class="content">
                    <h1>Thank You!</h1>
                    <p>Your message has been sent successfully. We will get back to you soon.</p>
                    <a href="{{ url_for('index') }}" class="btn">Back to Home</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
